[Desktop Entry]
Type=Application
Version=1.0.12
Name=Chess Positions Binder
Comment=Store and classify your favorite chess positions.
Exec=chess_position_binder
Icon=logo
Terminal=false
Categories=Games;